[2019-05-04 03:55] saket424 opened #1 "detect.py on coral dev-board with gstreamer coral camera pipeline segfaults"
I tried running the sample . It runs for a little while and the segfaults. Any ideas why ?

mendel@queen-rabbit:/mnt/objd/examples-camera/gstreamer$ python3 detect.py
Loading ../all_models/mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite with ../all_models/coco_labels.txt labels.
Detected Edge TPU dev board.
Gstreamer pipeline:  v4l2src device=/dev/video0 ! video/x-raw,format=YUY2,width=640,

[2019-05-04 04:01] saket424 commented on #1
FWIW, I am running the newest 3.0 chef-13 image on the coral compiled and released in April 2019
mendel@queen-rabbit:/mnt/objd/examples-camera/gstreamer$ uname -a
Linux queen-rabbit 4.9.51-imx #1 SMP PREEMPT Fri Apr 5 00:17:46 UTC 2019 aarch64 GNU/Linux

[2019-05-04 13:40] saket424 commented on #1
mendel@queen-rabbit:/mnt/objd/examples-camera$ v4l2-ctl --list-formats-ext --device /dev/video0
ioctl: VIDIOC_ENUM_FMT
	Index       : 0
	Type        : Video Capture
	Pixel Format: 'YUYV'
	Name        : YUYV 4:2:2
		Size: Discrete 640x480
			Interval: Discrete 0.033s (30.000 fps)
		Size: Discrete 720x480
			Interval: Discrete 0.033s (30.000 fps)
		Size: Discrete 1280x720
			Interval: Discrete 0.033

[2019-05-06 21:55] mtyka commented on #1
Hi, I was able to reproduce this, although only sporadically (maybe 1/10 runs). I've pushed a patch to the repo that appears, as far as I can, tell to eliminate the seg fault. Could you try pulling the latest from this repo and trying it again on your board, since it sounds like you were able to get the fault on each launch ? Tnx!

[2019-05-06 23:14] saket424 commented on #1
@mtyka ,
Yes segfault seems eliminated. I'll run it all night to confirm it is indeed fixed. Thanks!

[2019-05-06 23:14] #1 closed

[2019-05-07 03:40] mtyka commented on #1
Wonderful - thank you for reporting it ! If it starts acting up again, let me know!

[2019-05-18 05:54] ivenkwan opened #2 "ImportError: No module named 'svgwrite'"
pi@pi03:~/python-tflite-source/examples-camera/gstreamer $ python3 classify.pyTraceback (most recent call last):
  File "classify.py", line 19, in <module>
    import svgwrite
ImportError: No module named 'svgwrite'

is there any parm to specify my device be usb_cam

[2019-05-20 22:23] mtyka commented on #2
Ah - you need to install svgwrite:

`pip3 install svgwrite `

[2019-05-20 23:09] #2 closed

[2019-06-05 16:00] JVTEAM opened #3 "view feed on Coral Dev Board"
Given that the dev board has no visual desktop, how is this stream visible to the user?

[2019-06-05 22:02] PeterMalkin commented on #3
You have two options:
1) Plug in a monitor through HDMI cable to get a visual desktop environment
`edgetpu_demo --device`

2) Use streaming mode to run the demo
`edgetpu_demo --stream`

More info: https://coral.withgoogle.com/docs/dev-board/get-started/#run-a-model-on-the-edge-tpu

[2019-06-05 22:02] #3 closed

[2019-06-06 08:09] JVTEAM commented on #3
That runs the car demo.  It doesn't stream this particular script....

[2019-06-06 22:54] PeterMalkin commented on #3
I am not sure what you are asking. But the code is open source. Feel free to modify it to make it do what your use case requires.

[2019-06-06 23:30] JVTEAM commented on #3
That code doesn't play anything but the edgetpu demo.

[2019-06-07 14:15] JVTEAM commented on #3
I'm trying to stream the classify.py etc.  The demo stream doesn't do that. Just the demo "car stream"

[2019-06-13 04:01] pharrellyhy opened #4 "How can I see the result when running detect.py"
Hi,

I'd like to use the coral camera to do realtime detection and see the result on the screen at the same time. But after running detect.py, nothing showed on the screen. Any help would be appreciated. Thanks!

[2019-07-08 21:41] mtyka commented on #4
Can you provide more details ? Which device are you running this on ?
What does the console show (where you executed the example) ?

[2019-07-15 10:08] ColinWang1203 commented on #4
Running a  coral dev board here and went through the camera setup guide.
I can see my USB camera video on the streaming web on http://192.168.100.2:4664/.

But after trying this(run the detect.py) there is no output on the terminal and no file is produced?

[2019-07-19 23:02] mtyka commented on #4
If you're running the gstreamer/detect.py in this repo and you're using a USB camera on the dev board instead of the Coral camera, you need to point gstreamer at /dev/video1 instead of /dev/video0 (whether or not the coral camera is attached). Edit this line:
https://github.com/google-coral/examples-camera/blob/89a944ac4f5a8025b735babd929f957e9e3914aa/gstreamer/gstreamer.py#L64
and set it to /dev/

[2019-07-29 18:14] Py-JaC opened #9 "Error in gstreamer based sample code to classify images"
Hi All
I want to run gstreamer pipeline to get images and perform custom actions on them. I saw the provided sample code in gstreamer to classify, detect objects and I tried to run that on my google coral dev board but I am getting errors.
I am running it on coral camera.
Following is the terminal output I am getting :

Please note : Before trying the example script I installed gstreamer-1.16 from

[2019-07-30 20:17] mtyka commented on #9
You may have left gstreamer in a strange half installed situation. I would recommend backing up your home directory to another machine and reflashing your board using the instructions here: https://coral.withgoogle.com/docs/dev-board/get-started/#flash-the-board
It's pretty easy to do. After that the example should work (after running install_dependencies.sh). Gstreamer is already installed, the i

[2019-07-30 20:17] #9 closed

[2019-07-30 20:20] #4 closed

[2019-08-02 01:02] arvindr9 opened #10 "RuntimeError: Could not open '../all_models/mobilenet_v2_1.0_224_quant_edgetpu.tflite'.`"
When I type python classify.py after installing gstreamer and sh install_requirements.sh, I get the following error on my raspberry pi.

`Loading ../all_models/mobilenet_v2_1.0_224_quant_edgetpu.tflite with ../all_models/imagenet_labels.txt labels.
Traceback (most recent call last):
  File "classify.py", line 74, in <module>
    main()
  File "classify.py", line 52, in main
    engine = Classifica

[2019-08-02 01:04] #10 closed

[2019-08-04 16:13] Py-JaC commented on #9
Thanks. That worked

[2019-08-19 07:04] Py-JaC opened #11 "Not able to get 30 fps in 1920x1080 resolution using gstreamer"
Hi
I wanted to read frames at 30 fps at 1920x1080 resolution. I am currently using google coral camera which supports this resolution at 30fps.
In the gstreamer code provided in the repo I removed all frame processing to just receive the frames and see the speed but I am getting only 10 fps. 30 fps is really critical for my application so please suggest why is this so. I tried opencv VideoCapture

[2019-08-19 22:33] kflmiami420 opened #12 "examples-camera"
Is there a section for the Coral-enviromental-sensor-board

[2019-08-21 21:04] mtyka commented on #12
Information on the environmental sensor board is here: https://coral.withgoogle.com/products/environmental

[2019-08-21 21:04] #12 closed

[2019-08-21 22:30] kflmiami420 commented on #12
thank you  .    Any chance google can create a github repo for the
enviromental sensor board ?

On Wed, Aug 21, 2019 at 5:04 PM Mike Tyka <notifications@github.com> wrote:

[2019-08-22 21:00] mtyka commented on #11
Hi, there are several issues at hand here, which i'll try and address. The TL;DR is:
1) The camera yields YUY2, not RGB which likely is what you want for your neural net. Conversion can be slow.
2) To get maximum speed don't use Python, use C(++).

Details:
Whether end-to-end 1080p@30 is supported or not really depends on what you want to do with the frames, what color format you can work with and

[2019-08-22 21:03] #11 closed

[2019-08-23 06:03] Py-JaC commented on #11
I really appreciate your detailed reply. Thanks and I will try the code given by you.

[2019-08-23 22:48] mtyka commented on #12
We don't yet have an supplemental code/examples. Are you looking for something specific ?

[2019-08-26 05:46] kflmiami420 commented on #12
Hello

Thank you for replying  , I have started a post on my favorite forum since
I am using the Raspberry Pi plattform
https://www.raspberrypi.org/forums/viewtopic.php?f=45&t=249302    I would
like a script to make enviro_demo.py run auto on boot up  when user runs an
autoboot.sh install bash.

I am looking to connect one or two more sensors via I2C  one VEML 6075 and
one BMP388   one to get UV i

[2019-09-04 12:26] rezgalis opened #13 "opencv/install_requirements.sh error for RaspberryPi boards"
The install script tries to install OpenCV for Python3 using line
`  sudo apt install python3-opencv`

This gives an error that package is not found.

I am using Raspberry Pi 3B and with Raspbian Stretch (4.19.66-v7+)

[2019-09-04 22:33] mtyka commented on #13
Looks like the python3-opencv package was added in Raspbian Buster. I recommend upgrading to that.

Alternatively you can compile OpenCV for Raspberry Pi yourself, there are various tutorials on how to do that online, https://www.google.com/search?q=opencv+on+raspberry+pi

[2019-09-04 22:34] #13 closed

[2019-09-09 12:36] EspenTeigen opened #14 "Inference on pictures instead of videostream with Coral Camera on EdgeTPU dev board"
Hi.

I want to run classification inference on pictures triggered from a digital pin on the dev board. But i cant figure out how i can take one picture and send it to the tf-model with the gstreamer library.

[2019-09-11 04:36] mtyka commented on #14
Take a look at this example project: https://github.com/google-coral/project-teachable
which does something almost exactly as you describe.
Basically in the callback triggered by a particular frame from gstreamer you can check the GPIO status of your desired pin and then take an action depending that state - e.g. save the image or do whatever. If you want to avoid triggering multiple consecutive f

[2019-09-11 04:36] #14 closed

[2019-09-11 05:05] EspenTeigen commented on #14
Thank you so much.

Mvh
Espen

________________________________
From: Mike Tyka <notifications@github.com>
Sent: Wednesday, September 11, 2019 6:36:22 AM
To: google-coral/examples-camera <examples-camera@noreply.github.com>
Cc: Espen Teigen <espen.teigen@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [google-coral/examples-camera] Inference on pictures instead of videostream with Co

[2019-09-16 14:42] Iorek73 commented on #1
Hello all. I'm having a very similiar issue to the above.

Displaying the face detection on a USB camera runs 100% fine with the following (the export DISPLAY=:0 is necessary to avoid wayland errors)
[code]

However, when I try and run my own tflite model  (tflite_paint.tflite), the computer balks.
[code]

The warnings are pretty similiar to running face detection, so I'm not too concerned about t

[2019-09-23 12:43] EspenTeigen opened #15 "Problems running example with pygame"
Hi.

I am trying out the classify_capture.py using Microsoft LifeCam Cinema, but the program returns

pygame 1.9.6
  File "classify_capture.py", line 73, in <module>
    main()
  File "classify_capture.py", line 51, in main
    camera.start()
SystemError: ioctl(VIDIOC_S_FMT) failure: no supported formats

When I run "v4l2-ctl --list-formats-ext --device /dev/video1" returns

 ioctl: VIDIOC_ENUM_FM

[2019-09-24 14:23] PushkarChatterji opened #16 "How do I get rstpscr connected to detect.py using Gstreamer"
Hi,

I am am able to connect to my wifi camera using the Gstreamer cli:

`gst-launch-1.0 rtspsrc location=rtsp://admin:REDACTED@192.168.1.100/live/profile.0 ! decodebin ! autovideosink`

This works just fine and is able to display the live feed from the wifi cam on the monitor connected to the Coral Dev Board via HDMI.

However, I am not able to figure out the equivalent pipeline that I should use

[2019-09-24 17:01] PushkarChatterji commented on #16
Quick update:

I changed the code in gstreamer.py as under:

# commented-out code is the original code

[code]

This seems to work for me.

I am hoping that with this we can use Gstreamer on the Coral Dev Board to connect to wifi cams as feed for inference.

[2019-09-25 15:34] #16 closed

[2019-09-26 11:05] #15 closed

[2019-09-26 11:07] EspenTeigen commented on #15
Problem where that USB-camera is at /dev/video1 even if there is no YUYV-camera attached

[2019-10-22 23:07] novusli commented on #10
I have the same issue, any solutions?

[2019-10-25 17:29] Iorek73 commented on #1
I have the exact same issue. It cuts after 1 frame. Is it due to the .tflite file being too large?

https://stackoverflow.com/questions/58561680/reducing-tflite-model-size

[code]

[2019-11-20 03:00] StefanStryker opened #18 "Outdated if-else"
In the opencv directory, the install_requirements.sh file blocks installing OpenCV on DevBoard even if the user has updated to Mendel to 4.0 which allows for this support. Easy to get around, but should be updated.

[2019-11-24 07:55] PjotrG opened #19 "Error in detect.py"
get by running detect.py:
pi@raspberrypi:~/Downloads/examples-camera-master/gstreamer $ python3 detect.pyTraceback (most recent call last):
  File "detect.py", line 35, in <module>
    import gstreamer
  File "/home/pi/Downloads/examples-camera-master/gstreamer/gstreamer.py", line 20, in <module>
    gi.require_version('Gst', '1.0')
  File "/usr/lib/python3/dist-packages/gi/__init__.py", line 118,

[2019-11-25 21:32] scottamain opened #20 "pygame detect.py fails on Dev Board"
Running Mendel 4.0:

examples-camera/pygame$ python3 detect.py
pygame 1.9.6
Hello from the pygame community. https://www.pygame.org/contribute.html
Loading ../all_models/mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite with ../all_models/coco_labels.txt labels.
Traceback (most recent call last):
  File "detect.py", line 102, in <module>
    main()
  File "detect.py", line 68, in main
    dis

[2019-11-27 17:24] jonasl commented on #19
You're missing the GStreamer python bindings.
sudo apt-get install -y gstreamer1.0-plugins-bad gstreamer1.0-plugins-good python3-gst-1.0 python3-gi

See also install_requirements.sh mentioned in the README

[2019-11-27 17:31] jonasl commented on #11
FYI this has been significantly optimized in the latest system image for the dev board, and the sample code updated to reflect. When you run the latest version of both, classify and detect will run at 1080p on Coral Dev board at 30 fps.

[2019-11-27 18:15] Py-JaC commented on #11
Hey Jonas
Thanks for the update. Really helpful. I will update it and try.

On Wed, 27 Nov 2019, 23:01 Jonas Larsson, <notifications@github.com> wrote:

[2019-11-27 18:51] scottamain commented on #18
This is fixed now. Thanks!

[2019-11-27 18:51] #18 closed

[2019-11-28 10:57] PjotrG commented on #19
you are right, in detail python-gst-1.0 is the problem (the other 3 are o.k.)

what I tried so far:

- deleted all folders python3-gst-1.0 there are(4), tried again no success

- copied python3-gst-1.0 manually no success

 

still the same error message?!

(solved in the meantime the raspistill -t 0 issue, that's working now)

 
 

Gesendet: Mittwoch, 27. November 2019 um 18:24 Uhr
Von: "Jonas La

[2019-11-28 12:53] alan303138 opened #22 "Can't open camera using webcam logitech C310"
Error: gst-stream-error-quark: Internal data stream error. (1): gstbasesrc.c(3055): gst_base_src_loop (): /GstPipeline:pipeline0/GstV4l2Src:v4l2src0:
streaming stopped, reason not-negotiated (-4)
(classify.py:4022): Gtk-CRITICAL **: 13:14:41.734: _gtk_style_provider_private_get_settings: assertion 'GTK_IS_STYLE_PROVIDER_PRIVATE (provider)' failed

(classify.py:4022): Gtk-CRITICAL **: 13:14:41.734:

[2019-11-28 14:16] PjotrG commented on #19
@ jonasl

update:
I solved this issue by deinstall/ install pip3 ... now install_requirements work:
pi@raspberrypi:~/Downloads/examples-camera-master/gstreamer $ sudo bash install_requirements.sh
Reading package lists... Done
Building dependency tree
Reading state information... Done
gstreamer1.0-plugins-bad is already the newest version (1.10.4-1).
gstreamer1.0-plugins-good is already the newest

[2019-11-28 16:20] PjotrG commented on #19
sorry I messed it all up, hope you can still read it

[2019-11-29 10:09] PjotrG commented on #19
add:
on pi@raspberrypi:~ $ sudo apt-get install gstreamer1.0
I get:
Reading package lists... Done
Building dependency tree
Reading state information... Done
Note, selecting 'gstreamer1.0-videosink' for regex 'gstreamer1.0'
Note, selecting 'gstreamer1.0-alsa' for regex 'gstreamer1.0'
Note, selecting 'gstreamer1.0-plugins-ugly-dbg' for regex 'gstreamer1.0'
Note, selecting 'gstreamer1.0-plugins-ugly-

[2019-11-29 20:08] mtyka commented on #20
Detect.py is looking for a screen.
On DevBoard, when you're starting it over ssh (rather than in a Wayland window) and have a screen attached, do ```export DISPLAY=":0" ``` and then runt he code. Then it will work (just tried on Mendel 4)
I'll update the code to give a better error message to this effect and perhaps an option to just display the detections in console without overlaid bounding boxe

[2019-11-29 20:10] mtyka commented on #22
Is this on a DevBoard ? If so, note that your USB cam will show up as camera 1 not camera 0.
Do if you're using gstreamer, set the source to /dev/video1 , if you;re using pygame, change the camera line to ```pygame.camera.Camera(camlist[1], ...```

[2019-11-29 20:23] #20 closed

[2019-12-03 17:53] #19 closed

[2019-12-09 19:39] PjotrG opened #23 "Different results for detect.py with gstreamer, pygame and opencv"
@mtyka just for interest: I get very different results for detect.py running the 3 programs
       gstreamer: very stable and consistent
       pygame and opencv: mediocre
I'm using a raspi3 modelB with a picamera, Opencv 3.4.1, Python3(stretch)
and the model mobilenet_ssd_v1_coco_quant_postprocess_edgetpu.tflite  in all cases (v2 doesn't work at all).
Is there a reason for this? Can I improve thi

[2019-12-10 12:54] xav12358 commented on #22
Hello, I get the same trouble on my coral:

`python3 detect.py
Loading ../all_models/mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite with ../all_models/coco_labels.txt labels.
Detected Edge TPU dev board.
Gstreamer pipeline:
 v4l2src device=/dev/video1 ! video/x-raw,width=640,height=480,framerate=20/1 ! glupload ! tee name=t
            t. ! queue ! glfilterbin filter=glbox name=glbox ! vid

[2019-12-10 13:24] mapeima opened #25 "Can't install opencv with install_requirements.sh on dev board"
Executing the script shows:
[code]

python3-opencv is not available and if I google to install opencv in a debian-based distribution, the solution is to compile it.
The system is also up to date.

My sources:
[code]

[2019-12-11 10:54] PjotrG commented on #23
I found the problem: the color conversion in open cv from BGR to RGB is missing.
At least when you add cv2_im = cv2.cvtColor(cv2_im, cv2.COLOR_BGR2RGB) it detects a banana to 98% (you then have to convert it back, before imshow to get the right display, there is probably a more elegant way to do this ??)

[2019-12-12 07:49] mtyka commented on #23
Yikes, thank you for catching that - this burns me every time, I always
forget CV likes BGR default. Wanna submit a pull request ?

-- sent from my phone

On Wed, Dec 11, 2019, 11:54 AM PjotrG <notifications@github.com> wrote:

[2019-12-14 07:38] mtyka commented on #23
Fixed in https://github.com/google-coral/examples-camera/commit/16b54cd238bf74ab3d6bcca952b48961bb6285f2.

[2019-12-14 07:38] #23 closed

[2019-12-14 08:01] mtyka commented on #25
You'll need the latest Mendel release for this to work (the package wasn't added until Mendel Day).  See https://coral.googlesource.com/docs/+/refs/heads/master/Releases.md

[2019-12-14 08:01] #25 closed

[2019-12-14 08:06] mtyka commented on #22
But it works with a different camera ?
Check your camera's capabilities using v4l2:
v4l2-ctl --list-formats-ext -d /dev/video1

[2019-12-18 08:51] nopphons opened #28 "edgetpu_detect_server does not work with other videos"
I am in the process of setting up my coral. Running edgetpu_demo --stream works fine for me.
There are 2 parts within edgetpu_demo - stream and device. It seems that there are 2 separate videos for testing as well - video_device.mp4 and video_stream.mp4. I looked into both videos and rarely saw any differences (differences I saw include HD vs SD and the dimensions).

Here is the source code for ed

[2019-12-19 11:12] alexanderfrey commented on #28
Hi, yes there are specific requirements for the videos which are not documented anywhere. I figured that inspecting the videos with ffprobe reveals the settings that are necessary for your own videos. I can not remember those settings from the top of my head but I found them with ffprobe... Good luck !

[2019-12-19 11:25] nopphons commented on #28
@alexanderfrey Hi Alexander, thanks so much for your help. So you recommend me using ffprobe to check the settings of the provided sampels video that works right? Would it be possible to convert the settings of my videos to satisfy the settings required though? Is there an easy way to do that on the top of your head. Really appreciate your help.

[2019-12-22 14:39] Wichtel02 opened #29 "Installing OpenCV Error"
Everytime I try to install OpenCV with the given Command pip3 install Pillow opencv-python opencv-contrib-python
I get the Error:

Collecting Pillow
Using cached https://files.pythonhosted.org/packages/5b/bb/cdc8086db1f15d0664dd22a62c69613cdc00f1dd430b5b19df1bea83f2a3/Pillow-6.2.1.tar.gz
Collecting opencv-python
Could not find a version that satisfies the requirement opencv-python (from versions:

[2019-12-30 18:28] mehmandarov opened #30 "gstreamer examples won't run – tflite_runtime issue"
Hi all,

Here is a description of the issue:
1. Followed installation instructions in readme for gstreamer examples.
2. Running the code `classify` or `detect` fails with an error message that `tflite_runtime` is missing.
3. Tried following [instructions](https://www.tensorflow.org/lite/guide/python) for installing `tflite_runtime` for Python 3.5 (that is installed on Coral). The installation went

[2020-01-01 18:20] mtyka commented on #30
Did you install the edgetpu runtime with
sudo ```apt-get install libedgetpu1-std``` or ```sudo apt-get install libedgetpu1-max```  ?

In general follow the instructions here: https://coral.ai/docs/accelerator/get-started/

[2020-01-02 14:25] alexanderfrey commented on #28
Sorry for not answering. Yes, compare the results with ffprobe and convert your videos with those settings with ffmpeg. Easiest way is def. ffprobe and ffmpeg. Good luck !

[2020-01-06 17:52] mehmandarov commented on #30
Yes, the standard package seems to be installed. Btw, I am using the coral dev board.

[2020-01-07 21:12] bomanimc commented on #29
I've also been running into this issue.

[2020-01-09 22:14] oliver9523 opened #31 "memory leak"
It looks like there's a memory leak.
I'm using the USB accelerator on a raspberry pi 4, python 3.7.
When I run [detect.py](https://github.com/google-coral/examples-camera/blob/master/opencv/detect.py) the memory usage creeps up.

![Uncommented vs Commented](https://i.imgur.com/ZQr4H6T.jpg)

- Left side of the plot you can see it climb over time with the example code
- Right side when I comment out

[2020-01-09 22:20] mtyka commented on #31
Thank! Will take a look at this

[2020-01-10 01:40] mtyka commented on #30
If you're using a dev board you don't need to do  apt-get install libedgetpu1-std.
Reflash your board clean with Mendel *Day* (follow the instructions at https://coral.ai/docs/dev-board/get-started/). Specifically, once flashed you'll need to install the tflite-runtime like so:

[code]

[2020-01-10 01:46] mtyka commented on #29
The package you need is ```python3-opencv```

However, the easiest way is just to run this install_script in this repo (under opencv) which should work out of the box on devboard.
https://github.com/google-coral/examples-camera/blob/master/opencv/install_requirements.sh

```bash opencv/install_requirements.sh```

And you should be good to go.

[2020-01-10 01:46] #29 closed

[2020-01-10 01:47] mtyka commented on #30
Please feel free to reopen this bug if the issue persists.

[2020-01-10 01:47] #30 closed

[2020-01-10 01:47] mtyka commented on #29
Please feel free to reopen this bug if the issue persists.

[2020-01-10 02:05] mtyka commented on #31
I can confirm the leak, i see it ticking up also. We'll debug and update. Thank you !

Work around for now is to revert this repo to
https://github.com/google-coral/examples-camera/commit/ae9e9df3398853ac39e45eaa629b5e9f0617711d

I.e. before the port to the new tflite API. It will use the older "edgetpu" API  instead but the feature set will be identical, so you're not loosing anything.

[2020-01-14 13:45] 12345k opened #32 "vidioc_streamon no space left on device"
When I try to run the model by using  two webcams from USB hub I get this issue

VIDIOC_STREAMON: No space left on device
None
OpenCV Error: Assertion failed (scn == 3 || scn == 4) in cvtColor, file /build/opencv-tragD2/opencv-3.2.0+dfsg/modules/imgproc/src/color.cpp, line 9748
Traceback (most recent call last):
  File "test1.py", line 14, in <module>
    gray = cv2.cvtColor(frame, cv2.COLOR_BGR2G

[2020-01-17 09:09] DannyDeusAI commented on #28
ffmpeg -i /path/input.mp4 \
	 -an -vf "scale=960:540,format=yuv420p" \
	 -colorspace bt470bg -color_range tv -color_primaries smpte170m \
	 -color_trc bt709 \
	 -vcodec libx264 \
	 -brand mp42 -c:v libx264 -profile:v baseline \
	 /path/output.mp4

worked for me, you may want to adjust to your own need

[2020-01-20 06:11] 12345k opened #33 "No matching distribution found for opencv-contrib-python==4.1.0.25"
When I was installing opencv requirment I get this issue

mendel@bored-horse:~/latest_github/examples-camera/opencv$ bash install_requirem
ents.sh
ERROR: Could not find a version that satisfies the requirement opencv-contrib-py
thon==4.1.0.25 (from versions: none)
ERROR: No matching distribution found for opencv-contrib-python==4.1.0.25
Reading package lists... Done
Building dependency tree
Readin

[2020-01-20 06:16] mtyka commented on #33
Try opencv-contrib-python>=4.0,<4.1.0.25

[2020-01-20 12:48] 12345k commented on #33
Same error message I get

[2020-01-20 18:26] mtyka commented on #33
Are you using the latest Mendel release (Mendel Day) ? Make sure your board
is flashed to the latest image.

On Mon, Jan 20, 2020 at 4:48 AM Karthick Aravindan <notifications@github.com>
wrote:

--
[ www.miketyka.com  Twitter: @mtyka <http://www.twitter.com/mtyka> Instagram:
@miketyka <https://www.instagram.com/miketyka/>]

[2020-01-21 10:48] 12345k commented on #33
I am using mendel 4.0

[2020-01-22 05:30] mtyka commented on #33
Ok, apologies about that - i fixed the issue (I think) in https://github.com/google-coral/examples-camera/commit/8142340b1743269eb5bc6b01a1caf3fe06d77eb6
That package was only supposed to be installed for Raspbian. On Mendel the python3-opencv package should be sufficient.

[2020-01-22 05:45] 12345k commented on #33
okay, thanks for response

[2020-01-22 05:45] #33 closed

[2020-02-06 04:20] #22 closed

[2020-02-06 15:56] Namburger commented on #32
@12345k seems like you are not the only one experiencing this issue, can you try out the the script I written [here](https://github.com/google-coral/edgetpu/issues/50#issuecomment-582971020) to see if the issue is still reproducible?

[2020-02-06 16:00] aaroninaustin opened #34 "Error in AllocateTensors"
Attempting to run gstreamer detect.py example with a USB camera on Coral Dev board.

tflite-runtime
Version: 1.14.0
I'm seeing this error output:

[code]
Looking for some guidance on this issue.
The other Coral edgetpu examples still work without issue -

[2020-02-06 17:27] mtyka commented on #34
With the latest Mendel image you need to install
```pip3 install https://dl.google.com/coral/python/tflite_runtime-2.1.0-cp37-cp37m-linux_aarch64.whl```
(see https://coral.ai/docs/dev-board/get-started/
and this issue:
https://github.com/google-coral/edgetpu/issues/44)

[2020-02-07 23:07] mbrooksx commented on #32
Hi @12345k

Here's a minimal gstreamer example: https://gist.github.com/mbrooksx/2bb6dfa1bdc74512688d7ffd588dc832

Note you need to install gstreamer1.0-tools

I have two versions in the script, one that takes raw frames at VGA resolution and one that has higher res which I then decode. I'm not sure how you're receiving frames in your version but I wouldn't expect hires raw frames to work.

Thanks

[2020-02-17 20:17] JVTEAM opened #35 "Running gstreamer example on jetson nano - internal data stream error"
Error: gst-stream-error-quark: Internal data stream error. (1): gstbasesrc.c(3055): gst_base_src_loop (): /GstPipeline:pipeline0/GstV4l2Src:v4l2src0:
streaming stopped, reason not-negotiated (-4)

[2020-02-25 15:38] Namburger commented on #28
Hi guys, this will also works but a little slower since it involves gstreamer to stream the entire video into the new format (not sure if I'm explaining this correctly):
[code]

[2020-04-27 23:33] caofang opened #37 "Not running in windows or mac"
Please make the following update for supporting Windows and Mac
opencv/common.py

import platform

EDGETPU_SHARED_LIB = {
  'Linux': 'libedgetpu.so.1',
  'Darwin': 'libedgetpu.1.dylib',
  'Windows': 'edgetpu.dll'
}[platform.system()]

[2020-05-01 12:21] oliver9523 commented on #31
any progress on this issue?

[2020-05-02 04:38] mtyka commented on #31
Sorry - I forgot to update this bug. Yes, I believe this was fixed in the latest release.

[2020-05-02 04:38] #31 closed

[2020-05-06 23:01] JudeLabs opened #38 "Video not displaying"
I recently got my new google coral dev board and camera and I am going through the tutorials.

/examples-camera/opencv/ detect.py is the script I am trying to get to work.  When I run it I get the following error.
![Screen Shot 2020-05-06 at 4 59 50 PM](https://user-images.githubusercontent.com/11382098/81236708-0a23dc00-8fbb-11ea-9054-fd27c8083e7b.png)

I installed all requirements using the inst

[2020-05-07 00:12] #38 closed

[2020-05-07 00:13] JudeLabs commented on #38
Some monitors dont work with Coral.   The one I was using was not displaying anything.  Move to another one and everything isworking.

[2020-05-14 13:51] #34 closed

[2020-05-14 16:55] MichielBbal opened #39 "RuntimeError Raspberry Pi"
pi@raspberrypi:~/google-coral/examples-camera/raspicam $ python3 classify_captur                         e.py
Traceback (most recent call last):
  File "classify_capture.py", line 91, in <module>
    main()
  File "classify_capture.py", line 56, in main
    interpreter.allocate_tensors()
  File "/usr/local/lib/python3.7/dist-packages/tflite_runtime/interpreter.py", l                         ine 24

[2020-05-14 22:11] oliver9523 opened #40 "long running job crashes"
When running the USB accelerator continuously it used to stop after about 2-3 days due to a memory leak (https://github.com/google-coral/examples-camera/issues/31). I've updated and can confirm the memory doesn't leak anymore. After ~5 days memory consumption was still around 14.5% of my RPi4.
After 12 days though the device stopped.
The only output on the terminal is 'Killed' - no errors or messa

[2020-05-15 20:38] JSwaim22 opened #41 "Segmentation Fault using gstreamer for both classify.py and detect.py"
I am using a coral dev board and a coral camera. I followed the setup instructions and then ran python3 classify.py and python3 detect.py. Both ended up giving me a list of failures ending in a segmentation fault. I tried running them both while connected to a monitor and when not (I wasn't entirely clear on where the camera feed was supposed to show up).

I included pictures below. Any help would

[2020-05-18 20:27] #41 closed

[2020-05-18 20:28] JSwaim22 commented on #41
issue resolved

[2020-05-28 17:54] RBAM opened #43 "unable to access 'https://github.com/google-coral/examples-camera/': Could not resolve host: github.com"
Hi

I cannot clone the git. I get the following error:

![image](https://user-images.githubusercontent.com/12815073/83175800-8016f100-a0ea-11ea-83ae-3a37cc2b133f.png)

[2020-05-29 20:31] JSwaim22 commented on #43
You need to connect to your internet using nmtui

[2020-06-08 18:51] #40 closed

[2020-06-08 18:52] oliver9523 commented on #40
i'm not 100% sure it's coral related so closing

[2020-06-11 14:36] JSwaim22 opened #45 "What would be the best way to have the gstreamer example run without being connected to a montitor?"
I want to run the gstreamer example on my Coral Dev Board but I need it to be able to work even when not connected to a monitor. Are there a couple of lines of code I can change to make this work?

[2020-06-11 15:40] mtyka commented on #45
you have to change the screen sink ("e.g. ximagesink") to "fakesink".
In the case of the devboard youd have to replace glsvgoverlaysink with "fakesink". However that will also remove the reference to the svg overlay so you will have to comment out any references to that too.
I'm not aware of a good way to autodetect the monitor though.

[2020-06-11 16:17] #45 closed

[2020-06-12 14:49] Namburger commented on #39
Can you share this command?
[code]

[2020-06-12 14:51] #28 closed

[2020-07-10 03:20] cccsmoreno opened #47 "Coral Camera manual settings"
Hi! Is there any way of setting things such as shutter speed, ISO, WB, focus, etc from any command for the Coral Camera? I've searched everywhere but I haven't found how to do so.

[2020-07-13 23:23] Everthings opened #48 "AttributeError: 'Delegate' object has no attribute '_library'"
Hey, I'm trying to run ```pygame/classify_capture.py``` on a Coral USB Accelerator, but it throws the following error.
[code]
I'm on Windows 10  with python 3.6. I follow all the steps verbatim [here](https://coral.ai/docs/accelerator/get-started#1c-on-windows). The ```classify_image.py``` demo script was able to run correctly, but I'm not able to run any of the example scripts in this repo. I've

[2020-07-15 17:20] Everthings commented on #48
Skimmed over the README.md the first time, but on a second read: "This code works on Linux using a webcam, Raspberry Pi with the Pi Camera, and on the Coral Dev Board using a webcam. For the first two, you also need a Coral USB/PCIe/M.2 Accelerator." Turns out ```pygame``` doesn't support Windows 10.

[2020-07-15 17:20] #48 closed

[2020-08-04 20:40] laurentdebricon opened #51 "Auto exposure control, auto white balance"
How to activate Auto exposure control, auto white balance of the google coral camera ?
https://coral.ai/products/camera/

[2020-08-12 08:12] 320064714 opened #52 "Overlaysink error"
Getting the following error message when executing _classify.py_ on the Coral Board using the Coral Camera:

[code]

[2020-08-13 15:35] FranciZ opened #53 "Wrong video source in gstreamer"
If I read the documentation correctly the gstreamer.py video source [here](https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py#L207) should be `video0` to target the Coral camera?

[2020-08-20 13:01] FunkyGandalf opened #54 "Raspberry Pi AttributeError: 'Image' object has no attribute 'read'"
Hello, I am having difficulty with this error and can't seem to diagnose it.  I am a newcomer to this, so any help would be greatly appreciated.

Goal:  I have used Teachable machine to create a squirrel/raccoon/bird detector.  The model was trained and working well on the  website.  I exported the model to Tensorflow Lite Edge TPU.  I copied the code snipped into a file called edgetpu_model.py as

[2020-09-01 10:50] alexanderfrey commented on #52
I'm also getting error on dev board connected via ssh:
`python3 detect.py --videosrc /dev/video1 --videofmt jpeg
Unable to init server: Could not connect: Connection refused

(detect.py:6392): Gtk-WARNING **: 10:46:21.373: Locale not supported by C library.
	Using the fallback 'C' locale.
Unable to init server: Could not connect: Connection refused
Loading ../all_models/mobilenet_ssd_v2_coco_quant

[2020-09-01 10:54] alexanderfrey commented on #1
[code]

[2020-09-01 10:57] alexanderfrey commented on #41
Having similar issue. Did you attach a monitor ? I thought the demo runs via stream...
[code]

[2020-09-30 16:57] FunkyGandalf opened #55 "Pygame detect and classify: SystemError: /dev/video16 is not a video capture device"
Hello, I am having difficulty with the following error message when I try to run either detect.py or classify_capture.py through the pygame folder of the google coral examples-camera folder. I am using a USB webcam on Raspberry Pi 4.

pi@raspberrypi:~/coral/examples-camera/pygame $ python3 detect.py
pygame 1.9.4.post1
Hello from the pygame community. https://www.pygame.org/contribute.html
Loading

[2020-10-04 05:13] MrLiem commented on #1
@alexanderfrey  have you already had the solution for this problem, please help me!!! Thank you in advance.

[2020-10-05 12:03] Ziegan opened #56 "support to stream RTSP ?"
Can Coral Dev board handle inferences on RTSP stream?

if yes can anyone help with it?

[2020-10-16 13:46] Namburger commented on #56
@Ziegan Yes you can, quite easily by changing this line to take the rtsp source as argument:
https://github.com/google-coral/examples-camera/blob/master/opencv/detect.py#L94

[2020-10-19 20:57] memmusty opened #57 "Error using inat bird model with opencv detect.py"
I'm trying to run the inat bird object detection model with opencv, I changed the model and labels files in `/home/pi/google-coral/examples-camera/opencv/detect.py` to mobilenet_v2_1.0_224_inat_bird_quant_edgetpu.tflite, inat_bird_labels.txt respectively.

Please, note that I had done this with raspicam's classify_capture.py and it works fine.

When I run the open model on the CLI using the comman

[2020-10-23 09:16] Ziegan commented on #56
Thanks ... Ill be sure to try it !

[2020-10-23 09:16] #56 closed

[2020-10-27 14:26] Namburger commented on #55
@FunkyGandalf
This is an opencv issue, basically trying to open `/dev/video16` to read inputs form the camera at [this line](https://github.com/google-coral/examples-camera/blob/master/opencv/detect.py#L94).
You can check which camera index is the correct one and run it using this:
[code]

[2020-10-27 14:38] Namburger commented on #53
@FranciZ Yes, the dev board would use `/dev/video0`, but that's handled [here](https://github.com/google-coral/examples-camera/blob/master/gstreamer/detect.py#L119). That's default parameter which is only set if no arguments is being passed into it

[2020-10-27 14:38] #53 closed

[2020-10-27 14:56] usbguru commented on #57
Hi Memmusty,
The model you selected, mobilenet_v2_1.0...  is a classification model, not a detection model:  https://aihub.cloud.google.com/p/products%2F5ea70ed9-9bd7-41e5-898f-e1509e8793bd

That's why that model works with the classify_capture.py code.

Try a mobilenet_ssd model for detection.

[2020-10-27 14:56] #57 closed

[2020-10-27 16:55] Namburger commented on #54
hello, it's really hard to say without at least seeing the implementation of of `results = classifyImage(pil_im, engine)`. Is it from this repo? I'm only asking because I'm not familiar with *EdgeTPUModel.py*.
Anyhow, the error that you are seeing is a PIL library issue when loading the image

[2020-10-27 17:08] Namburger commented on #47
Hey, you can take a look at the datasheet here: https://coral.ai/docs/camera/datasheet/
You can also get additional help if you reach out to omnivision directly!

[2020-10-27 17:08] #47 closed

[2020-10-27 17:09] Namburger commented on #37
This is fixed now :)

[2020-10-27 17:09] #37 closed

[2020-11-10 22:47] ymk201 opened #58 "gstreamer rtsp error?"
INPUT
 $ python3 classify.py --videosrc 'rtsp-url' // have checked with vlc and the 'rtsp-url' works fine.

OUTPUT
Loading ../all_models/mobilenet_v2_1.0_224_quant_edgetpu.tflite with ../all_models/imagenet_labels.txt labels.
Gstreamer pipeline:
 rtspsrc location='rtsp-url' ! tee name=t
            t. ! queue max-size-buffers=1 leaky=downstream ! videoconvert ! videoscale ! video/x-raw,width=224,h

[2020-11-10 23:34] Namburger commented on #58
@ymk201 Hey!
This seems to be a gstreamer error or could be a problem with your rtsp-url, maybe you can try to test your `rtsp-url` on a gst-launch-1.0 first?
[code]

[2020-11-10 23:35] #55 closed

[2020-11-11 00:39] ymk201 commented on #58
it seems that my gst were broken some how. I'm still working on it.
It works fine few weeks ago.

My gstreamer stops with bellow error, is there any suggest for me?
I have already tried reinstall the gst. but still getting same error.
(it works fine with fakesink.)
ERROR: from element /GstPipeline:pipeline0/GstRTSPSrc:rtspsrc0/GstUDPSrc:udpsrc4: Internal data stream error.
Additional debug info:
g

[2020-11-24 23:30] bricklane commented on #54
I'm having a very similar issue on the coral dev board.

[2020-11-24 23:47] bricklane opened #59 "Unknown pixelformat"
Trying to run detect.py on the coral dev board, using coral camera, and running into this issue continually.

`$ python3 detect.py`

`Loading ../all_models/mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite with ../all_models/coco_labels.txt labels.`

`[ 2440.991079] unknown pixelformat:'BGR3'`
`[ 2441.036095] mx6s-csi 30a90000.csi1_bridge: Fourcc format (0x33524742) invalid.`

`[ 2441.122862]

[2020-11-25 05:41] bettencb opened #60 "Unable to Init Server - Coral Dev Board / Coral Camera - HELPPPP!!!"
# Coral Camera Error on Coral Dev Board
* *                                                  * *

[code]

[2020-11-25 14:15] Namburger commented on #60
Ahh, sorry, this repo is being updated currently and won't works since our edgetpu API is deprecated for pycoral. We're actively working on updating this and will have it working soon!

[2020-11-25 14:18] Namburger commented on #59
@bricklane it is actually defaulted to [/dev/video0](https://github.com/google-coral/examples-camera/blob/master/gstreamer/detect.py#L119).
Although, this repo is being updated currently and won't works since our edgetpu API is deprecated for pycoral. We're actively working on updating this and will have it working soon. Apologies!

[2020-11-27 04:34] bettencb commented on #60
First off happy thanksgiving, secondly, could you possibly let me know through this issue log when the repo is up and running again @Namburger

[2020-11-27 05:22] bricklane commented on #59
Thanks for the info! To clarify, are you saying that using a usb camera and switching to /dev/video1 would be a solve in the meantime?

[2020-11-27 12:18] Namburger commented on #59
Hello, no, unfortunately the issue is with the edgetpu API (the AI inference library) and not the video inputs :/

[2020-11-27 12:20] Namburger commented on #59
Here is a quick detection srcipt if you want to use this in the meanwhile: https://gist.github.com/Namburger/f7e6c18af94ef3d6a70076a130eb1f7c

[2020-11-27 12:21] Namburger commented on #60
Hello, yes I will, please expect a few weeks, for now i do have this detection script that maybe you can use?
https://gist.github.com/Namburger/f7e6c18af94ef3d6a70076a130eb1f7c

[2020-11-27 12:23] Namburger commented on #59
But maybe you can use this detection script in the mean while?
https://gist.github.com/Namburger/f7e6c18af94ef3d6a70076a130eb1f7c

[2020-11-28 20:14] bricklane commented on #59
That makes sense. I'll look into it - thanks!

[2020-12-07 04:36] startupstarter opened #61 "Compatible with pycoral and eagle enterprise?"
oading ../all_models/mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite with ../all_models/coco_labels.txt labels.
Detected Edge TPU dev board.
Gstreamer pipeline:
 v4l2src device=/dev/video0 ! video/x-raw,width=640,height=480,framerate=30/1 ! decodebin ! glupload ! tee name=t
            t. ! queue ! glfilterbin filter=glbox name=glbox ! video/x-raw,format=RGB,width=300,height=300 ! appsink n

[2020-12-07 05:07] Namburger commented on #61
Hi, this is because this API is deprecated and we are working to get this updated, please check here for update:
https://github.com/google-coral/examples-camera/issues/60#issuecomment-733732762

[2020-12-07 05:07] #61 closed

[2020-12-07 08:30] startupstarter commented on #61
With the new posenet commit it now works. I guess it was related to gstreamer. The segment fault issue was related to not having the HDMI output connected.

[2020-12-07 08:37] #60 closed

[2020-12-10 10:26] arrowkato opened #62 "Error when using inception_v1_224_quant_edgetpu.tflite in OpenCV demo."
I use a MacBook Pro (OS 10.15) and a Coral.
I executed this command and it works fine.
[code]

However, I executed below command and it showed errors.

[code]

[code]

Is there anything additional I need to set up?

[2020-12-10 12:48] Namburger commented on #62
Hello, that will not work as the second model you are using is a classification model as opposed to a detection model!

[2020-12-10 19:51] rcaudill commented on #39
I'm getting the same error on the Pi 4. Here is my output from the requested command:

ii  libedgetpu1-legacy-std:armhf         15.0                                armhf        Support library for Edge TPU

[2020-12-10 23:06] Namburger commented on #39
@rcaudill please also make sure to upgrade your [tflite_runtime](https://www.tensorflow.org/lite/guide/python#install_just_the_tensorflow_lite_interpreter) package. it should be version 2.5.0 now!

[2020-12-11 01:45] arrowkato commented on #62
Thank you for your replying.

I understood it.

[2020-12-11 01:45] #62 closed

[2020-12-11 02:07] rcaudill commented on #39
@Namburger thanks for the quick response. It looks like 2.5 is installed. Does this look correct:

2.5.0

[2020-12-11 02:39] Namburger commented on #39
@rcaudill ahhh, no problems!
That looks okay, although I just realized that your libedgetpu is a legacy package (libedgetpu1-legacy-std:armhf 15.0), you should upgrade it!
[code]
Verify that yo no longer have the legacy package (should looks like this now):
[code]

Lastly, sometimes linux wouldn't allows a certain usb rules by default so you may need this also:
[code]

[2020-12-16 20:21] rcaudill commented on #39
@Namburger updating libedgetpu fixed the problem. Thanks!

[2020-12-20 12:12] Guillaume-slize commented on #45
Hey @JSwaim22,

I am also implementing a headless setup. I managed to do it with the previous architecture where you had a display option using this [thread](https://github.com/googlecodelabs/edgetpu-classifier/issues/1#issuecomment-509784840).
Did you end up implementing mtyka's answer?
@mtyka I have issues understanding exactly what your answer entails, could you develop it a bit?

[2020-12-21 10:55] Guillaume-slize commented on #45
After fiddling around with the different examples, the easiest way I found to enable headless object detection was to use the open CV script and comment this [line](https://github.com/google-coral/examples-camera/blob/c74a38362b05c07dd62e2e7c77d04a72d2164497/opencv/detect.py#L110).
At least it works for the application I wanted to build.

[2020-12-29 10:52] tamberg opened #63 "gstreamer: Could not initialise X output (10)"
Hi, trying to run _examples-camera/gstreamer_ on the Coral Dev Board Mini (with a Coral cam and a HDMI display connected) I get:
[code]
Any ideas how to fix this? (I'm not a Linux expert, btw.)

Kind regards, Thomas

[2021-01-22 06:11] jimdinunzio opened #64 "Can you add a classification example for OpenCV?"
There is a detection example, but no classification example. I started trying to do it myself, but it will take me a while to figure it out.

Thanks,
Jim

[2021-01-22 20:08] Namburger commented on #64
Hello, here's for starter:
[code]

Cheers!

[2021-01-25 02:09] jimdinunzio commented on #64
Thank you. That works great.

Jim

From: Nam Vu <notifications@github.com>
Sent: Friday, January 22, 2021 12:09 PM
To: google-coral/examples-camera <examples-camera@noreply.github.com>
Cc: Jim DiNunzio <jim@dinunzio.com>; Author <author@noreply.github.com>
Subject: Re: [google-coral/examples-camera] Can you add a classification example for OpenCV? (#64)

Hello, here's for starter:

import argparse

[2021-01-26 22:38] ting3000 opened #65 "Building the nativeapp failed"
I try to build the nativeapp on Coral Dev Board, it failed because the tensorflow library issue. First, it seems that the Makefile from tensorflow and nativeapp point to different path, second issue is the missing function from tensorflow library. Please help!

Here are the details.

I running build_aarch64_lib.sh, the library is created under
tensorflow/lite/tools/make/gen/**linux_aarch64**/lib/l

[2021-01-27 21:46] ting3000 opened #66 "Compilation of inferencewrapper.cc failed"
Compilation of inferencewrapper.cc failed with the error message "inferencewrapper.cc:58:74: error: no matching function for call to ‘tflite::Interpreter::ModifyGraphWithDelegate(<brace-enclosed initializer list>)’"

The tensorflow source code was from "git clone https://github.com/tensorflow/tensorflow"

Could somebody help how to fix the problem? Thanks!

Here is the output of make command:
g++

[2021-01-28 01:17] Namburger commented on #66
Hello @ting3000 did you checkout the tensorflow commit as documented here: https://github.com/google-coral/examples-camera/tree/master/nativeapp#build-and-install-libtensorflow-litea
Without checking out that specific commit, the library will either not build, or breaks during runtime

[2021-01-28 15:03] ting3000 commented on #66
Hi @Namburger thank you for helping me on it! You are correct that I missed to set the TENSORFLOW_COMMIT before checkout.

After I fixed and run the make again, I got the following error, do you have any suggestion how to solve it? Thanks!
In file included from tensorflow/lite/tools/make/downloads/absl/absl/base/internal/exponential_biased.cc:15:
/home/mendel/sdcard/spacer/development/google-coral

[2021-01-28 17:36] ting3000 commented on #66
Hi @Namburger after delete the previous source code, and chekout and download the dependency again, the previous error is solved. Now I get different error, I will open a new issue for it. Thanks!

[2021-01-28 17:36] #66 closed

[2021-01-28 17:51] ting3000 opened #67 "build_aarch64_lib.sh failed because undefined reference from the densify.cc"
When building the specific version of libtensorflow-lite.a, I checkout the version of  TENSORFLOW_COMMIT="d855adfc5a0195788bf5f92c3c7352e638aa1109", which is from https://github.com/google-coral/edgetpu/blob/master/WORKSPACE

build_aarch64_lib.sh reported the following error. Could somebody helps.

/usr/bin/ld: /home/mendel/sdcard/spacer/development/google-coral/tensorflow/tensorflow/lite/tools/ma

[2021-01-28 17:59] ting3000 commented on #67
Hi @Namburger I saw you helped the similar issue [before](https://github.com/google-coral/edgetpu/issues/78#issue-581334241). Is my issue caused by checking out the wrong version of the code? Could you please help!
I am not sure if this is the proper place for creating this issue because it seems related to edgeptu, but I am trying to build nativeapp here. Thanks!

[2021-01-28 21:49] Namburger commented on #67
@ting3000 oh man.. now that I'm looking at this, this example need a refresh in build instruction, so sorry, let me try to work this out and will check back with you.
The TENSORFLOW_COMMIT should really be coming from `libcoral` instead of `edgetpu` now (since edgetpu is deprecated). Apologies, I'll try to get this updated this week.
Maybe in the mean time, you can checkout [this repo](https://git

[2021-01-28 21:58] ting3000 commented on #67
@Namburger Thank you for helping me!

[2021-01-31 18:30] dcohen-hub opened #68 "gstreamer crashes without HDMI connection"
Is there a way to run gstreamer with Coral Dev board HDMI NOT connected.

As in Birdfeeder project.

[2021-02-02 21:25] dcohen-hub commented on #52
I get that as well. If connected via HDMI to monitor it resolves.
But I want to run it without HDMI connected

[2021-02-08 15:22] ting3000 commented on #67
@Namburger Good morning! Is there update for the fix? I would like to use gstreamer because other dependency. Thanks!

[2021-02-15 03:09] ting3000 commented on #67
@Namburger Do you have update on this? Thanks!

[2021-02-16 21:07] hackebike opened #69 "Raspberry PI 4 64 Bit OS beta, Coral USB accelerator, classify_capture.py libmmal.so error"
I am testing Google Coral TPU usb accelerator on a Raspberry PI 4 64 Bit OS beta, Kernel 5.10.

I am getting this error when I run the classify_capture.py script:

[code]
Am I suppose to install the library? From where?

[2021-02-16 21:45] Namburger commented on #69
@hackebike that's a library that the pi OS is missing LOL

[2021-02-17 09:43] hackebike commented on #69
I know, but they had the package and libs and then they took it out. I playing guessing game!
thx for the support, other examples worked.

[2021-02-18 19:01] ting3000 opened #70 "The nativeapp crashed when running with mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite"
Build the nativeapp on Coral Dev Board, then running it with mobilenet_v2_1.0_224_quant_edgetpu.tflite successfully.
But running it with mobilenet_ssd_v2_coco_quant_postprocess_edgetpu.tflite, it crashed with "Segmentation fault".
Could somebody help! Thanks!

[2021-02-18 22:45] Namburger commented on #70
hello @ting3000,
ssd mobilenet is a detection model, the native app only written to handles classification model outputs so that is expected.
You can follow this code to parse the outputs though: https://github.com/Namburger/edgetpu-detection-camera/blob/master/src/tflite_wrapper.cc#L96

[2021-02-26 02:46] Tylersuard opened #71 "Gtk-WARNING **: 02:43:47.869: cannot open display:"
Running this command:

 edgetpu_classify \

As per this tutorial:

https://coral.ai/docs/dev-board/camera/#try-other-example-code

The server version works fine, but when I try to use my monitor... I get the above error.

[2021-02-26 14:08] Namburger commented on #71
is this on the dev board? Have you checked your USB camera config?
Also you may try restarting the weston service:
[code]

[2021-02-27 07:44] Tylersuard opened #72 "Can't exit demo"
Hello.  I got the gstreamer classify.py demo working, and it's great!  The problem is, I can't close it now.  Ctrl-c does nothing, neither does ctrl alt delete.  The instructions say never to unplug the coral dev board before shutting it down... what should I do?

[2021-02-28 09:54] vaibhav810 opened #73 "How to record a video in coral dev board using hardware codec ?"
I have coral dev kit and coral camera with me..

I want my inference pipelining running as it as while recording input (raw format is also acceptable ) camera frames in file parallely  .How do i achieve that ? gsteramer pipeline ?

If i use cv2.videowriter , its very bottleneck & low fps

[2021-03-02 03:27] QuietlyAmusing commented on #54
Hello, I think I have found a **solution** to this problem.

(I have also used Google's Teachable Machine to create my own image classification model and exported it for use on a Raspberry Pi with a Coral USB accelerator. I copied the code from the Teachable Machine website and only made modifications to the `modelPath` and `labelPath`.)

I had the same error as above and this is what I did to res

[2021-03-02 03:40] QuietlyAmusing commented on #54
Alternatively, you could modify the `classifyImage()` function from this:

[code]

to the following:

[code]

P.S. I am new to GitHub so it would be helpful if a more experienced user "moves" this solution to the appropriate place.

[2021-03-05 19:39] CurlyWurly-1 commented on #72
If you're using an old 4x3 monitor attached to the R.PI, you may find the taskbar is still displayed at the top.
If so, you can access the terminal session, close it and this cancels the screen being displayed .

If however, you try using a HDMI widescreen monitor attached to the R.PI (like I have tried), you may find the taskbar has dissappeared completely and all you see isthe camera image, with

[2021-03-05 20:44] Tylersuard commented on #72
Thank you for the response! I was actually using this on a coral dev board

Sent from ProtonMail Mobile

On Fri, Mar 5, 2021 at 11:39 AM, CurlyWurly-1 <notifications@github.com> wrote:

[2021-03-14 10:37] jedichen121 commented on #67
Had the same problem. Changing the TENSORFLOW_COMMIT to the following helped me build successfully.

TENSORFLOW_COMMIT = "48c3bae94a8b324525b45f157d638dfd4e8c3be1"

https://github.com/google-coral/libcoral/blob/master/WORKSPACE

[2021-04-16 18:09] strubell commented on #71
Thanks! This worked for me to get the server version running.

[2021-04-17 18:20] strubell opened #74 "Coral camera doesn't work on fresh flash of Coral dev board"
I'm trying to figure out why I can't get the Coral camera to work on my dev board. I just tried re-flashing the dev board, but I'm getting the same error as before. The dev board can see the camera; when I run `v4l2-ctl --list-devices` I get the following output, which looks right:
[code]
but when I try to take a test picture with `snapshot` I get the following warning, then it hangs:
[code]
I als

[2021-04-17 18:32] strubell commented on #74
If I run `export LD_PRELOAD=/usr/lib/aarch64-linux-gnu/libgomp.so.1` before `snapshot` it stops producing that error, but doesn't solve the problem (`snapshot` still hangs and does not take a picture).

[2021-05-10 01:40] NooLL opened #75 "Streaming /examples-camera/opencv -- detect.py on server"
Hi, may I know how can I stream detect.py on server? Thank You

[2021-05-24 08:42] SunBeenMoon opened #76 "Coral dev mini opencv error"
Hi,
I'm testing the examples with coral mini board!

But, I've got the error.
I can't execute the opencv examples.

[code]

The error message is so simple that I cant' figure out what the problem come from.
I need help.

Regards,

[2021-05-28 08:27] SunBeenMoon opened #78 "Model performance difference between pygame and gstreamer."
Hi,
I'm testing the examples-camera with Coral mini dev board.

As shown in the figure below, the same task, the same model, performs differently on gstreamer and pygame examples (https://github.com/google-coral/examples-camera).

For example,
in 'image classification' example,
'mobilenet_v2_1.0_224_quant_edgetpu.tflite' model,
inference time of gstreamer is 19.46[ms], pygame is 16.00[ms]
fps of g

[2021-05-28 09:01] manoj7410 commented on #76
@SunBeenMoon Can you try to put print statements before and after https://github.com/google-coral/examples-camera/blob/master/opencv/detect.py#L61 ?
Is there a display connected to your board ?
I don't have a Dev Board Mini with me right now to try with.

[2021-05-28 09:15] SunBeenMoon commented on #76
Thank you for your reply @manoj7410

I put 'Hi!' after the code.

The output is below.
![image](https://user-images.githubusercontent.com/78002830/119961194-bed2d600-bfe0-11eb-9f09-541d9706dfc0.png)

[2021-05-31 05:17] manoj7410 commented on #76
@SunBeenMoon Can you try to run `sudo pip3 install opencv-contrib-python==4.1.0.25` and then try the demo again ?

[2021-05-31 05:19] manoj7410 commented on #78
As discussed over Skyvine, we cannot expect both pygame and gstreamer to perform exactly same. There will always be some difference among the performances of pygame, gstreamer and opencv.

[2021-05-31 05:19] #78 closed

[2021-05-31 05:20] #75 closed

[2021-05-31 05:28] manoj7410 commented on #74
@strubell What is the power supply that you are using ?

[2021-05-31 05:58] manoj7410 commented on #73
Responded at https://github.com/google-coral/pycoral/issues/20#issuecomment-791781536

[2021-05-31 05:58] #73 closed

[2021-05-31 13:31] strubell commented on #74
I've tried two different fast-charging usb-c power banks. One is the Jackery Explorer 160 Portable Power Station which shows the Coral is drawing 3 watts when plugged in.

[2021-05-31 14:33] manoj7410 commented on #74
Minimum requirement is 2Amp 5V, Is your adaptor/power bank meeting these requirements?

[2021-05-31 14:49] strubell commented on #74
Yes, it provides 3A/5V.

On Mon, May 31, 2021 at 10:33 AM Manoj ***@***.***> wrote:

[2021-06-01 19:20] strubell commented on #74
It looks like an issue with gstreamer plugins so I tried running: 
`sudo apt-get install --reinstall gstreamer-1.0 gstreamer1.0-plugins-bad gstreamer1.0-plugins-base gstreamer1.0-plugins-good gstreamer1.0-plugins-ugly`

This seems to have gotten somewhere, as that install hangs on what I assume is a custom dpkg trigger related to the snapshot command: `Processing triggers fsnapshot`

[2021-06-02 01:00] SunBeenMoon commented on #76
Thank you for your reply @manoj7410
However, opencv is not working.
![image](https://user-images.githubusercontent.com/78002830/120408105-4fb30400-c389-11eb-8087-fc90fa521570.png)

[2021-06-02 06:57] manoj7410 commented on #76
Can you try with `sudo pip3 install opencv-contrib-python==4.5.2.52` ?

[2021-06-02 08:59] SunBeenMoon commented on #76
It's not work...
![image](https://user-images.githubusercontent.com/78002830/120451174-2a93b500-c3cc-11eb-90bb-41e3a4f5e107.png)

[code]

[2021-06-02 08:59] SunBeenMoon commented on #76
It's not work...
![image](https://user-images.githubusercontent.com/78002830/120451174-2a93b500-c3cc-11eb-90bb-41e3a4f5e107.png)

[code]

[2021-06-02 10:24] manoj7410 commented on #76
Can you try with the different versions of python3-opencv mentioned in comment https://github.com/google-coral/examples-camera/issues/76#issuecomment-852625906 ?

[2021-06-03 01:58] alengcm commented on #76
In the detect.py. Camera index should be 1. The default in the script is 0.
After that there's another issue which I encountered on cap = cv2.VideoCapture('/dev/video1'): VIDIOC_QUERYCTRL: Inappropriate ioctl for device.

[2021-06-03 04:50] SunBeenMoon commented on #76
I did the same thing with @alengcm
I've the these error code.
[code]
![image](https://user-images.githubusercontent.com/78002830/120587645-b65f1d00-c470-11eb-92f1-3ee4ef4afeb6.png)

[2021-06-03 04:53] SunBeenMoon commented on #76
I've tried all of the version wrote in  #76 (comment)
But, It does not work.
A viewed as an example here.

[code]

[2021-06-03 04:59] alengcm commented on #76
@SunBeenMoon run these

sudo apt-get update

sudo apt-get dist-upgrade

sudo reboot now

Then install cmake and try again.

[2021-06-03 05:15] SunBeenMoon commented on #76
Hi @alengcm
I did all of the command that you suggest me.
But the error code is same as

[2021-06-03 09:12] alengcm commented on #76
@SunBeenMoon it says you don't have cmake. Maybe remove it and install..
sudo apt-get remove cmake
sudo apt-get install cmake

[2021-06-03 13:56] chadwallacehart commented on #76
I ran into the same issues. I struggled trying to install various versions via pip and finally got it to work by building openCV from scratch. I used the script here for that: https://github.com/milq/milq/blob/master/scripts/bash/install-opencv.sh

Note: There was a file instead of a directory at `/usr/local/share` - I'm not sure where that came from but I had to remove it and make sure there was

[2021-06-03 22:34] strubell commented on #74
I ordered a new camera, and it works. The hardware was defective.

[2021-06-03 22:34] #74 closed

[2021-06-04 04:24] alengcm commented on #76
@chadwallacehart @SunBeenMoon
I was able to install the headless version using
`pip3 install opencv-python-headless`

I allocated extra 1gb of swap memory and had to install openssl and cmake. Took 7 hours.

[2021-06-08 09:55] SunBeenMoon commented on #76
Thank you @chadwallacehart
I did as you explained and the problem was solved!!

[2021-06-08 09:55] #76 closed

[2021-06-10 02:56] fablau opened #79 "IndexError: list index out of range"
I am trying the mobilenet model with the command below:

`python3 detect.py --camera_idx 3 --model ../all_models/mobilenet_v2_1.0_224_quant_edgetpu.tflite --labels ../all_models/imagenet_labels.txt`

But I get the following error:

`Traceback (most recent call last):
  File "detect.py", line 99, in <module>
    main()
  File "detect.py", line 72, in main
    objs = get_objects(interpreter, args.th

[2021-06-16 09:21] manoj7410 commented on #79
@fablau Can you share the environment details to reproduce this ?

[2021-06-16 14:14] fablau commented on #79
Thank you for your reply. At the end, I figured out that I was probably trying to perform detection with classification models. Do you think that may be the case?

Anyway, I am working inside a virtual environment via pipenv on MacOS 10.15. Thanks.

[2021-06-16 16:22] manoj7410 commented on #79
@fablau That can be a reason. Is your demo working fine now ?

[2021-06-16 17:37] fablau commented on #79
Yes if I follow what the instructions say: for detection, I can just use the SSD models. Thank you!

[2021-06-17 04:34] #79 closed

[2021-06-17 09:15] monocle-dominic commented on #76
Thanks for sharing your solution @chadwallacehart
Fixed the problem for me as well!

[2021-06-28 08:56] bogdannedelcu opened #80 "opencv detect sample fails after 1 minute running with select() timeout on coral dev mini board"
Hello,

I use coral dev mini board with google coral camera model CA1.

After compiling opencv as per this recommendations https://github.com/google-coral/examples-camera/issues/76 I managed to start opencv sample with: python3 detect.py

Window opens on X server, bounding boxes in green work well. After a while I get
[ WARN:0] global /home/mendel/OpenCV/modules/videoio/src/cap_v4l.cpp (1004) tryI

[2021-06-29 11:20] bogdannedelcu commented on #80
adding a 100ms delay in the sample WaitKey seems to fix the issue.
change line 76 to: cv2.waitKey(100)

[2021-06-29 11:20] #80 closed

[2021-07-01 10:07] manoj7410 commented on #32
@12345k Feel free to reopen if this is still an issue.

[2021-07-01 10:07] #32 closed

[2021-07-01 10:07] #39 closed

[2021-07-01 10:18] manoj7410 commented on #65
did you try a cross build on x86_64 machine instead of building on the dev board ?

[2021-07-01 15:52] ting3000 commented on #65
The same problem happened to me when I tried to build on dev board or x86_64 linux box. The log I post here was from the build on coral dev board.

[2021-07-02 04:20] manoj7410 commented on #65
@ting3000 Which is this native app? Is it an open source ? Are there any steps that you can share to reproduce this issue ?

[2021-07-02 15:07] ting3000 commented on #65
I was following this document (https://github.com/google-coral/examples-camera/tree/master/nativeapp#build-and-install-libtensorflow-litea) to "Build and install libtensorflow-lite.a"

[2021-07-02 15:09] ting3000 commented on #65
The nativeapp is the sample app in this repository: https://github.com/google-coral/examples-camera/tree/master/nativeapp

[2021-07-05 10:26] manoj7410 commented on #59
Feel free to reopen if the issue still persists.

[2021-07-05 10:26] #59 closed

[2021-07-05 10:27] manoj7410 commented on #64
Feel free to reopen if this is still an issue.

[2021-07-05 10:27] #64 closed

[2021-07-05 10:31] manoj7410 commented on #67
Feel free to reopen if the issue still persists.

[2021-07-05 10:31] #67 closed

[2021-07-12 02:12] AlexHarrison1 opened #81 "Data Loss | Power Outage | Teachable machine"
Dear Community,

I am trying to build an application of Teachable Machine using Coral's USB Accelerator & Pi for the visual inspection. Everything goes well when I train the offline model. However, that model was totally lost if there is a power outage and I have to retrain whole previous set.

I wonder that is there any solutions for this issue to back up data? Can we use UPS (uninterruptible pow

[2021-07-12 05:31] manoj7410 commented on #65
Are there any particular steps to reproduce this issue ?

[2021-07-12 11:08] manoj7410 commented on #72
@Tylersuard Did you try to SSH into the board and tried to kill the process using 'sudo kill -9 <PID>' ?

[2021-07-12 11:09] #71 closed

[2021-07-13 00:38] juvinski opened #82 "CoralDevBoard + Coral camera + streaming the detect results"
Hi guys,

I have a coraldev board and coral camera, and how can I stream or save the video from gstreamer/detect.py samples to a file or stream to my desktop computer ?

Thanks a lot - I saw the same question but the answers I believe was using opencv or raspberry + coral accelerator.

[2021-07-19 19:06] PortScanner commented on #58
Have you found a solution?

[2021-07-28 17:50] hjonnala commented on #81
Hi, Any training that takes more than couple of minutes is not recommended on coral edgetpu devices. The main purpose of the coral devices is to run the inferences.

We recommend to opt out for cloud based solutions or server class machines for model training.

[2021-08-02 12:56] #81 closed

[2021-08-09 15:26] hjonnala commented on #63
@tamberg are you still facing the issue?

[2021-08-23 12:40] hjonnala commented on #51
Hi, for changing/setting exposure and white balance, you may need to make modifications in the current driver code and rebuild the kernel image. Driver code can be found at:

https://coral.googlesource.com/linux-imx/+/refs/heads/master/drivers/media/platform/mxc/capture/ov5645_mipi_v2.c#2774

And instructions to build the kernel image can be seen at : https://coral.googlesource.com/docs/+/refs/hea

[2021-08-23 12:40] #51 closed

[2021-08-31 11:02] kiteklan opened #83 "detect.py run as sudo"
### Description

I am trying to use detect.py code with some functions of environmental board.
Environmental Board requires GPIO permissions as root ,so I need the run with sudo.

`sudo python3  /home/mendel/google-coral/examples-camera/gstreamer/detect_1.py --model /home/mendel/one_nn11_edgetpu.tflite --labels /home/mendel/one_nn_label.txt --videosrc /dev/video1`

I am totally newbie , and Mendel

[2021-08-31 13:19] hjonnala commented on #83
Hello @kiteklan  were you able to run this demo: https://coral.ai/docs/enviro-board/get-started/#3-try-the-demo

[2021-08-31 14:15] kiteklan commented on #83
Hi , yes i did .but I am using Coral Dev board requires root access to
control GPIO , I could not figure out to run as non root the demo.
Since the detect.py is also giving an error when running it with sudo.

On Tue, Aug 31, 2021 at 4:19 PM Hemanth-Jonnala ***@***.***>
wrote:

[2021-08-31 14:44] kiteklan commented on #83
[detect_1.txt](https://github.com/google-coral/examples-camera/files/7084715/detect_1.txt)

when I run the code detect.py and environment sensor demo separately it works.
but I need the combine both functions under one file so I combined them .

**When running with sudo detect.py gives the error below:**

sudo python3  /home/mendel/google-coral/examples-camera/gstreamer/detect_1.py --model /home/m

[2021-09-01 04:25] manoj7410 commented on #83
@kiteklan Is this issue different from https://github.com/google-coral/edgetpu/issues/457 ?

[2021-09-01 04:40] kiteklan commented on #83
@manoj7410 same problem but different side, I am trying to understand how to run the detect.py with elevated privileges, 'sudo phthon3 detect.py ...' results
With
(detect_1.py:4064): Gtk-CRITICAL **: 14:22:52.311: _gtk_style_provider_private_get_settings: assertion 'GTK_IS_STYLE_PROVIDER_PRIVATE (provider)' failed
Segmentation fault

Being able run the script as root will help me to eliminate all

[2021-09-05 19:29] kiteklan opened #84 "FFMPEG to v4l2loopback Failed to allocate a buffer"
### Description

I am trying to direct an h264 DVR stream to /dev/video2 with the command below.

`gst-launch-1.0 rtspsrc location="rtsp://admin:xxxxxxx@192.168.1.105:554/cam/realmonitor?channel=2&subtype=0" ! rtph264depay ! h264parse ! decodebin ! videoconvert ! video/x-raw,format=YUY2 ! tee ! v4l2sink device=/dev/video2`

it runs and the RTSP sources directed to the dummy device /dev/video0 belo

[2021-09-07 15:26] #70 closed

[2021-09-12 00:44] hjonnala commented on #83
@kiteklan I am able to run detect_1.py as sudo. Can you please try the command below.

`sudo -E python3 detect_1.py --videosrc /dev/video1`

[2021-09-16 10:46] manoj7410 commented on #83
@kiteklan Can this also be closed now ?

[2021-09-16 10:52] kiteklan commented on #83
Thanks the support, giving permission to GPIO pins solved the problem.

16 Eyl 2021 Per, saat ÖS 1:46 tarihinde Manoj ***@***.***>
şunu yazdı:

[2021-09-16 12:57] #83 closed

[2021-09-21 15:38] staebchen0 commented on #79
I get the same error

list index out of range
Codezeile:
`objs = get_objects (interpreter, args.threshold) [: args.top_k]`

i created my model with a teachable machine - unquant Model
then i complied the model with the Edge TPU compiler

`edgetpu_compiler -s -m 13 model_unquant_8020.tflite`

do I have to export the teachable machine model as a quantized model so that it works?

operating system: W

[2021-09-23 06:42] #58 closed

[2021-11-30 02:14] suyash-narain opened #85 "gstreamer detect.py and classify.py user_callback function"
Hi,

I needed some help in understanding how user_callback function.
In classify.py, the function user_callback takes in "input_tensor, src_size, inference_box" arguments. If i replace "run_interpeter" by "interpreter.invoke", i can get rid of "input tensor" arg as well.

But when this function is called in gstreamer.run_pipeline, no arguments are given to the function. I believe there are no defa

[2021-11-30 16:55] hjonnala commented on #85
Hi @suyash-narain argumnets will be passed when invoking the user_callback function. Here is the flow:
https://github.com/google-coral/examples-camera/blob/3f3556eca31d9de656dbe26da72ceb8297870326/gstreamer/gstreamer.py#L205
https://github.com/google-coral/examples-camera/blob/3f3556eca31d9de656dbe26da72ceb8297870326/gstreamer/gstreamer.py#L277
https://github.com/google-coral/examples-camera/blob/

[2021-12-01 22:50] suyash-narain commented on #85
thank you for your reply. I was wondering, If i use the same code on a rpi 4, but without the coral accelerator since I am running a simple mobilenet_v2_quant.tflite from tfhub, the detections and classifications do not happen. I get just one frame and the detections do not run in a loop, if i follow the codebase as you have provided. Do you have any suggestions how to change the gstreamer pipelin

[2021-12-02 14:53] hjonnala commented on #85
please try with the below changes to run CPU tflite model:

add the below import statement:
`import tflite_runtime.interpreter as tflite`

and change this line as below: https://github.com/google-coral/examples-camera/blob/master/gstreamer/classify.py#L65
`tflite.Interpreter(model_path=args.model)
`

[2021-12-02 19:54] hjonnala commented on #84
@kiteklan can you try this [script](https://github.com/google-coral/examples-camera/blob/master/gstreamer/detect.py) with --videofmt [h264 flag](https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py#L211).

[2021-12-03 01:14] suyash-narain commented on #85
Hi,
I tried following what you suggested, and using the master branch, the classification results don't seem to get updated on the loop. no matter the usb camera is open or closed, i get the following output at all times:

  Inference: 36.40 ms FPS: 23 fps score=5.34: matchstick score=4.45: spotlight, spot score=4.05: nematode, nematode worm, roundworm
  Inference: 28.61 ms FPS: 23 fps score=5.34:

[2021-12-03 14:34] hjonnala commented on #85
Please try to install the pycoral 2.0 and tflite_runtime 2.5.0.Post1 using the command below and try the scripts:

`python3 -m pip install --extra-index-url https://google-coral.github.io/py-repo/ pycoral~=2.0`

If you are getting into any issues please share the error details.

[2021-12-07 22:20] suyash-narain commented on #85
I installed pycoral 2.0 and tflite_runtime 2.5.0.Post1 using the command mentioned and tried to run detect.py
but now I am getting this error:
"
AttributeError: module 'tflite_runtime.interpreter' has no attribute 'Interpreter'
"

I was not facing this issue with the earlier instance of tflite 2.4 installed on my board.

[2021-12-07 22:38] hjonnala commented on #85
can you please share this info:

[code]
Please first try the classify demo with these changes: https://github.com/google-coral/examples-camera/issues/85#issuecomment-984700861

[2021-12-23 17:03] hjonnala commented on #85
Closing due to inactivity. Feel free to reopen if you have any questions. Thanks!

[2021-12-23 17:03] #85 closed

[2022-01-17 14:34] jleger12 opened #87 "gstreamer: Could not use gstreamer.run_pipeline with MP4 videosrc"
### Description

I am trying to leverage the [gstreamer.py](https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py) pipeline definition to run inference on test MP4 data instead of via the /dev/video1 webcam.

Looking at the [run_pipeline](https://github.com/google-coral/examples-camera/blob/master/gstreamer/gstreamer.py#L205) function, this appears to be supported by t

[2022-02-08 21:52] joshfox10 commented on #11
It appears the image format is a major drag on the system with RGB being the preferred format.  I pulled up the datasheet for OV5645 which is the sensor specified in the Google Coral camera datasheet.  The OV5645 datasheet specifies support for output formats: RAW RGB,RGB565/555/444, YUV422/420, YCbCr422.  Is there somewhere within GStreamer where the YUY is defined as opposed to RGB?  Thank you.

[2022-02-09 19:52] #63 closed

[2022-03-08 21:51] bsteiner-dandy opened #88 "Undefined reference to tflite::optimize::sparsity::FormatConverter"
### Description

Hi, following the instructions for building `libtensorflow-lite` for the `nativeapp` I came across this error. I also got this same error when attempting to build it on the coral instead. The TENSORFLOW_COMMIT I used was `d855adfc5a0195788bf5f92c3c7352e638aa1109`

<details><summary>Click to expand!</summary>

 ### Issue Type

Build/Install

### Operating System

Mendel Linux, Linu

[2022-03-09 13:27] bsteiner-dandy commented on #88
Getting a new error with that commit:

`In file included from ./tensorflow/lite/core/api/op_resolver.h:23,
                 from ./tensorflow/lite/c/c_api_internal.h:25,
                 from tensorflow/lite/c/c_api_experimental.cc:24:
./tensorflow/lite/schema/schema_generated.h: In function ‘const char* tflite::EnumNameTensorType(tflite::TensorType)’:
./tensorflow/lite/schema/schema_generated.h:4

[2022-03-14 03:34] manoj7410 commented on #88
@bsteiner-dandy Can you share the steps to replicate this issue?

[2022-03-14 14:03] hjonnala commented on #88
@please try adding these the below lines to tensorflow/lite/tools/make/downloads/ruy/ruy/block_map.cc file:

#include <stdexcept>
#include <limits>

[2022-03-14 14:22] bsteiner-dandy commented on #88
Looks like it builds after that

[2022-03-21 16:20] hjonnala commented on #88
@bsteiner-dandy I think, we have modify some scripts in native app for TF2.5 commit. Are you able to run native app demo successfully?

[2022-03-21 16:22] bsteiner-dandy commented on #88
I have not tried yet. I have been using the opencv python approach for now

[2022-04-04 16:32] thedevleon commented on #63
I'm having the same issue.

Relevant output:
[code]

[2022-04-04 17:00] hjonnala commented on #63
@thedevleon seems to be you are working with [example-object-tracker](https://github.com/google-coral/example-object-tracker/tree/master/gstreamer) repo. example-object-tracker repo has not been updated for dev board mini.

Thanks!

[2022-04-11 16:58] bsteiner-dandy commented on #88
I am seeing some issues with the python approach so wanted to try this approach again. However when I go to build the native app, I get this error:

[code]

[2022-04-11 17:01] Namburger commented on #88
@bsteiner-dandy checkout this PR :)
https://github.com/google-coral/examples-camera/pull/89/files

[2022-04-12 21:37] #88 closed

[2022-05-04 13:23] constantinfite opened #90 "Record 4 rtsp stream and concatenate them 1 file"
### Description

Hi, I want to record into a single file the stream of 4 IP camera working in RTSP.
I've already done it on a Jetson with this command
`gst-launch-1.0 -e nvcompositor name=mix background-w=2560 background-h=1440 \
    sink_0::xpos=0 sink_0::ypos=0 sink_0::width=1280 sink_0::height=720  \
    sink_1::xpos=1280 sink_1::ypos=0 sink_1::width=1280 sink_1::height=720 \
    sink_2::xpos=0

[2022-05-07 22:33] thebruce87m commented on #87
Did you get to the bottom of this? Closest I've come to running my own video on the Dev Board Mini is to convert the mp4 using the following:

[code]
and then run it via:

[code]

I can't quite get this to work in the gstreamer.py script however

[2022-05-08 04:00] jleger12 commented on #87
@thebruce87m : I was able to put something together with help from a **[RidgeRun example pipeline](https://developer.ridgerun.com/wiki/index.php?title=Coral_from_Google/GstInference/Example_Pipelines#File_Source)**

The solution required a few extra components to be installed:

- Install libuav (we were missing the avdec_h264 gstreamer plugin)
  - sudo apt install gstreamer1.0-libav
- Confirm plug

[2022-05-08 09:07] thebruce87m commented on #87
@jleger12

Thanks, with this edit to __gstreamer.py__ along with changing to glimagesync I am able to run the example:

[code]

Now what I don't understand is that the inference time claims to be 140ms, but the fps claims to be 0 fps - which I think really means very slow. This is reflected by the bounding boxes not updating very often compared to the video output.

 Surely if the inference is 140

[2022-05-10 03:18] jlpoolen opened #91 "nativeapp: missing docker"
### Description

Following directions to build nativeapp, ran into:

    mendel@coral1:~/coral/examples-camera$ date
    Mon 09 May 2022 08:08:40 PM PDT
    mendel@coral1:~/coral/examples-camera$ # READEME.md at https://github.com/google-coral/examples-camera/tree/master/nativeapp
    mendel@coral1:~/coral/examples-camera$ cd nativeapp/
    mendel@coral1:~/coral/examples-camera/nativeapp$ make DOC

[2022-05-10 03:29] jlpoolen commented on #91
Fixed with:

     sudo apt install docker.io

Then:

     sudo adduser mendel docker
     exit

Then had to log in so group permissions stuck.

[2022-05-10 03:32] jlpoolen opened #92 "nativeapp: docker install fails with: unable to find "net_cls""
### Description

    mendel@coral1:~/coral/examples-camera$ cd nativeapp/
    mendel@coral1:~/coral/examples-camera/nativeapp$  make DOCKER_TARGETS=mendelcam DOCKER_CPUS=aarch64 docker-build
    docker build  -t "native-app-debian-buster" \
        --build-arg IMAGE=debian:buster /home/mendel/coral/examples-camera/nativeapp/docker
    Sending build context to Docker daemon  15.36kB
    Step 1/10 :

[2022-05-10 13:10] Namburger commented on #92
So the docker build were really not supposed to be used on mendel (the dev board). The whole point of using docker is so that we can consistently cross compile this example on your robust machine with cpu target aarch64 and then copy the binary over to mendel. Using docker and all of the libraries needed will boat the board and for sure run out of ram to build.

[2022-05-10 14:06] jlpoolen commented on #92
I recommend you have something to the same effect as your explanation in your comment above in the README.md.  Perhaps a preface of:

This project is designed to be downloaded onto a workstation where the program will be cross-compiled within Docker for installation on the Google Coral Dev Board.  This is not intended for direct installation on the Coral Dev Board.

[2022-05-10 14:09] jlpoolen commented on #91
Per Issue #92, this project is not intended for installation on the Coral Dev Board.  The binaries resulting from this project, a cross-compiler, are to be staged on the Coral Dev Board.

[2022-05-16 14:40] MTourabi commented on #41
Hello, i am having the same problem .Using the raspberry pi with pi camera and coral USB
anyone can help please? thank you in advance
<img width="872" alt="erreur" src="https://user-images.githubusercontent.com/76753721/168618803-c5055b8c-957f-492b-83e3-1f5f3731ca1a.PNG">

[2022-05-16 14:51] hjonnala commented on #92
@jlpoolen we have updated build instrucitons for the dev board in the README.md file. Thanks for the feedback!

[2022-06-08 20:34] RaphaelPiatek opened #93 "Focus Caral Camera"
### Description

Hi,
is there any way to focus the cam? so when running the classify Script the image is in focus?
Regards

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

### Coral Device

Dev Board Mini, Coral Camera

### Other Devices

_No response_

### Programming Language

Python 3.7

### Relevant Log Output

_No response_</details>

[2022-06-08 22:20] hjonnala commented on #93
Hello @RaphaelPiatek  Auto foucs is enabled by defualt for Coral Camera !!

[2022-06-08 22:34] James2ok opened #94 "Last frame acquisition from camera"
### Description

Hi , i try to use the classify_capture.py script in the example to take the Last frame from my usb camera , open a display and run a tflite classification model retrained by me. My problem is that the frame that i take from camera is not the Last frame . Someone can share some code or funcion to take the Last frame from camera? Thanks

<details><summary>Click to expand!</summary>

[2022-06-15 14:18] #93 closed, assigned to hjonnala

[2022-06-27 12:24] jacksonchen1998 commented on #52
I still have this issue. But before, I was able to use detect.py normally.

[2022-06-27 15:43] jacksonchen1998 opened #95 "Segmentation fault while running `detect.py`"
### Description

I use the program directly from the github repo.

Before this, I was able to run the program normally.

Now, when I use `python3 detect.py` with webcam

I got some error messages like below.

I think it similar with the issue #41

<details><summary>Click to expand!</summary>

 ### Issue Type

Support

### Operating System

Mendel Linux

### Coral Device

Dev Board

### Other Devic

[2022-06-27 17:59] hjonnala commented on #95
Please make sure the problem isn't with your monitor or hdmi cable. I am not sure of `No protocol specified` message in the error log except that I am able to reproduce the error without HDMI connection.

- **without HDMI monitor for first time**
[code]
- **running the same command immediately after the above error:**

[code]
- **With proper HDMI connection**
[code]

[2022-06-28 03:21] jacksonchen1998 commented on #95
@hjonnala
Hello, I use Coral Dev board while connecting with my HDMI and monitor.
But when I change different monitor and HDMI cable with different Coral board.
The error message still has it.
So, it's the error comes from HDMI cable doesn't connect correctly ? Thanks.

[2022-06-28 18:24] hjonnala commented on #95
Please try the classify demo with headless..If you are able to run this then the issue should be with HDMI cable/Monitor.
- `python3 classify.py  --headless True`

[2022-06-29 13:54] jacksonchen1998 commented on #95
After I execute the command `python3 classify.py --headless True`

Here is the output message. Because the program stop for a while. So I stop continue to execute the command.

[code]

[2022-06-29 13:54] #95 closed, assigned to hjonnala

[2022-06-29 13:56] jacksonchen1998 commented on #95
The problem is not solved at present, I will research it myself first.

[2022-06-29 17:50] hjonnala commented on #35
Unfortunately, gstreamer pipelines in this repo does not work with jetson nano.. Thanks!

[2022-06-29 17:50] #35 closed

[2022-07-05 08:17] jacksonchen1998 commented on #95
@hjonnala Hello.

Can I use [MDT](https://coral.ai/docs/dev-board/get-started/#connect-via-mdt) to solve the problem ?

Because after I use th command `python3 classify.py --headless True`

The error message https://github.com/google-coral/examples-camera/issues/95#issuecomment-1170011413

[2022-07-05 19:14] hjonnala commented on #95
I am able to reproduce the logs(https://github.com/google-coral/examples-camera/issues/95#issuecomment-1170011413) with root user when I set **DISPLAY=":0"**, but the script is running fine. So, either this [line](https://github.com/google-coral/examples-camera/blob/master/gstreamer/classify.py#L87) is commented or there is some issue.  Please  re flash the board and try the script. Thanks!

**Wit

[2022-07-08 05:59] Watermelonseeds commented on #84
Hi,man!
I have the same problem, how did you solve it?

[2022-07-25 23:27] sferguson-ISI opened #96 "Greyscale Camera support?"
### Description

Hello, I am trying to get a monochrome camera to work with the camera example detect.py code.  Specifically I have a See3CAM_CU55M grayscale camera I'm attempting to get working with the called Gstreamer pipeline code in the example.  I can get the camera outputting a stream with `gst-launch-1.0 -v v4l2src device=/dev/video1 !
    "video/x-raw, format=GRAY8, width=1280, height=720

[2022-07-28 07:57] jiekechoo commented on #58
It wors for me :

python3 detect.py --videosrc "rtsp://192.168.120.58/ch01_sub.h264 ! rtph264depay ! h264parse ! avdec_h264 ! videoconvert"

[2022-07-28 21:42] sferguson-ISI commented on #96
Just as a follow up I'm assuming it's the greyscale camera that's causing the issue as I have tried a color version and it works with no issue. It's a E-con Systems See3CAM_CU55 MHL camera.  The v4l2-ctl output:

[code]

[2022-07-31 08:03] jiekechoo commented on #56
python3 detect.py --videosrc "rtsp://192.168.120.58/ch01_sub.h264 ! rtph264depay ! h264parse ! avdec_h264 ! videoconvert"

it works for me.

[2022-08-01 21:13] hjonnala commented on #96
I think, it only supports YUYV format: https://coral.ai/docs/dev-board/camera/#connect-a-usb-camera

[2022-08-01 21:27] sferguson-ISI commented on #96
Thanks @hjonnala , is there possibly a way to duplicate the single grey channel to the other channels an pipe that in as an artificial YUYV format?

[2022-08-01 22:00] hjonnala commented on #96
Unfortunately, I am not aware of any possible way of doing that.

[2022-08-01 23:38] sferguson-ISI commented on #96
You gave me a clue with the YUYV format.  I'm able to get the object detection going now with this pipeline: `GST_DEBUG=2 gst-launch-1.0 -v v4l2src device=/dev/video1 ! "video/x-raw, format=GRAY8, width=640, height=480" ! videoconvert ! video/x-raw, format=YUY2, width=640,height=480 ! autovideosink sync=false`

In the gstreamer.py code I had to tack on the output by specifying the conversion strin

[2022-09-15 19:57] xrbeattx opened #97 "How to actually run this thing"
### Description

Hello I am really new to all of this and I am able to get the image classification example and the facial detection running with the Coral Camera, however I am trying to mimic the commands to get any other example running but I dont understand the command to do so.  These commands arent listed on the readme so I am just assuming its either edgetpu_detect or edgetpu_classify as the

[2022-09-15 20:41] hjonnala commented on #97
The link you are trying to download the model is not correct. Please try the below link:

wget https://github.com/google-coral/test_data/raw/master/ssd_mobilenet_v2_coco_quant_postprocess_edgetpu.tflite

[2022-09-15 23:17] xrbeattx commented on #97
Awesome thank you for such a quick response! In the meantime I got the Posenet working, that is really fun and easy to implement.

 By the speed and simplicity of your answer I assume that I am correct to use 'edgetpu_detect' --model etc etc like in the picture above? I will give it a try here again in a minute, just waiting for a mount to finish 3d printing

[2022-09-19 22:37] xrbeattx commented on #97
That worked! Thank you very much, overlay seems to blink out when over 20 ish objects are detected and boy howdy does it detect a lot of objects. No idea what these objects are but still a fun little toy to play with

[2022-09-19 22:37] #97 closed, assigned to hjonnala

[2022-10-03 11:40] MarioCavero commented on #82
Did you manage to find a solution?

`gstreamer` seems to have it's own methods for that: [file_sink](https://gstreamer.freedesktop.org/documentation/coreelements/filesink.html?gi-language=c): Write incoming data to a file in the local file system.

Maybe this can be useful, as another user was having a SIMILAR (more or less, more less than more) [issue](https://forums.developer.nvidia.com/t/python

[2022-11-02 20:02] zain-altaf commented on #82
Hi @juvinski were you able to figure out how to do it? I'm currently on the dev board mini and have a coral camera as well (mini and regular are basically the same software-wise). I'm trying to get it to save videos as well. Please let me know if you got it.

Thanks!

[2022-11-27 15:57] charbull opened #100 "Raspberry Pi camera on Coral Edge Tpu board?"
### Description

Hi,

It seems that the Coral Camera for the Coral Dev Board is out of stock: https://coral.ai/products/camera/
Was curious if someone plugged a raspberry pi camera instead on a coral dev board?
Such as this one? https://www.adafruit.com/product/3100

Cheers,
Charbull

<details><summary>Click to expand!</summary>

 ### Issue Type

Others

### Operating System

Mendel Linux

### Cor